---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Niladri (Nee·Ladri) is a Full Stack Engineer with a strong background in building chatbots and enterprise-level solutions.  He actively shares insights and articles on{
				' '
			}
			<a href='https://niladrridas.medium.com/' target='_blank' class="underline">Medium</a>
		</p>
		<p>Niladri is always open to new collaborations as a Full Stack Engineer, with expertise in Python and JavaScript.
		</p>
	</div>
</div>


