---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/picture.png';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="Press Release: Niladri Das - Full Stack Engineer"
	description="Press release highlighting the achievements and expertise of Niladri Das, a Full Stack Engineer."
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">Press Release: Introducing Niladri Das, Full Stack Engineer</h1>
            <Prose>
              <div class="text-lg">
                <p>Niladri Das is a Full Stack Engineer, he actively shares projects on <a href="https://github.com/bniladridas" target="_blank">GitHub</a> and writes insightful articles on <a href="https://niladrridas.medium.com/" target="_blank">Medium</a>. He is also the founder of <a href="https://niladridas.hashnode.dev/" target="_blank">Optimize Coding</a>, a tech blog that keeps developers updated on the latest trends in technology.</p>
                <p>Niladri has participated in numerous hackathons, including the <a href="https://geekle.ai/hackathon/first/" target="_blank">Geekle AI Hackathon</a>, enhancing his skills in collaboration and innovation. His expertise encompasses both front-end and back-end technologies, and he is certified on <a href="https://www.hackerrank.com/certificates/de879709fc27" target="_blank">HackerRank</a>. He also enjoys solving algorithmic challenges on <a href="https://leetcode.com/u/bniladridas/" target="_blank">LeetCode</a> and has completed projects on <a href="https://www.freecodecamp.org/niladrridas" target="_blank">freeCodeCamp</a>, focusing on data visualization, Bash, PostgreSQL, HTML, CSS, and JavaScript.</p>
              </div>
            </Prose>
          </div>
          <Image src={Ava} alt="Niladri Das" width={300} class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>     
        <div>
          <p>
            With a solid foundation in cybersecurity and Linux system automation, Niladri possesses a strong command of cloud platforms such as AWS, Azure, and GCP. His skill set includes SQL data management, Bash scripting, and IT troubleshooting, which have proven invaluable in his role as a <a href="https://arcx.io/verify-certificate?id=643624c596d17841c480c00f33c21255fffb4f24&k=146c6a50718140b59e04f363f0b3b2d7" target="_blank">Cyber Threat Intelligence Analyst</a>. Additionally, he holds a <a href="https://www.linkedin.com/learning/certificates/a47fa7b95a3671b05df2a5aeebaccd812b4d77d9eb4089721a804986e74eb2d4" target="_blank">GitHub Professional Certificate</a>.
          </p> 
          <p>
            Motivated by a passion for technology’s potential to make a difference, Niladri is eager to expand his network, share knowledge, and stay at the forefront of emerging tech trends.
          </p>
          <p>
            With expertise in Linux automation, network infrastructure, and cybersecurity, he focuses on creating secure, high-performance systems. His approach combines hands-on experience with scalable solution design, process automation, and a commitment to enhancing system resilience. Recently, he completed a <a href="https://www.linkedin.com/learning/certificates/93a34784c86633af1c78cad0c9ec796fc68de8380932c28af4694f7279b09f81?trk=share_certificate" target="_blank">System Administration Career Certificate from Microsoft</a>.
          </p>
          <p>
            As a researcher and academic contributor, Niladri has experience in VLSI system design, hardware troubleshooting, and digital circuit development. He actively gives back as an alumni volunteer at Lovely Professional University, mentoring students and fostering knowledge-sharing initiatives. His projects include developing an AI-powered banking interface, creating a <a href="https://arxiv.org/abs/2405.05292" target="_blank">Smart Portable Computer</a>, and contributing to cybersecurity threat intelligence. He has also completed the <a href="https://www.linkedin.com/learning/certificates/ffc328ce268b0ed437460cb16a0dc2661036aff62cb6e35073e87e25ad815458?trk=share_certificate" target="_blank">CompTIA A+ (220-1001) Cert Prep 2: Microprocessing and RAM</a> by Mike Meyers.
          </p>
          <p>
            Driven by a commitment to innovation, Niladri is continuously expanding his expertise. He recently joined <a href="https://build.nvidia.com/explore/discover" target="_blank">NVIDIA's Microservices Developer Preview Program</a> to explore advanced applications in vision AI, while also participating in workshops like <a href="https://www.intel.com/content/www/us/en/developer/tools/tiber/ai-cloud.html" target="_blank">Intel DevOps for Tiber AI Cloud</a>. He is a dynamic leader and a lifelong learner, merging technical expertise with a dedication to creating a positive impact through technology.
          </p>
        </div>
        </article>
      </article>
    </main>
  </div>
</BaseLayout>